{
  "extends": ["next", "prettier"],
  "plugins": ["unused-imports"],
  "rules": {
    "import/no-anonymous-default-export": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/no-unescaped-entities": "off"
  }
}
