# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# images
public/images

# dependencies
/node_modules
/.pnp
.pnp.js

# sam
/backend/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.staging
.env.production
.env.production.local
.env.test.local
.env-cmdrc
.env-cmdrc.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache

.vscode/

.aws-sam/

edit.md

.history/
