@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

a {
  color: #3383d8;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1 {
  font-size: 60px !important;
  font-weight: 800 !important;
}

h2 {
  font-size: 40px !important;
  font-weight: 800 !important;
}

h3 {
  font-size: 30px !important;
  font-weight: 800 !important;

  margin-top: 45px !important;
  margin-bottom: 22px !important;
}

h4 {
  font-size: 25px !important;
  font-weight: 800 !important;

  margin-top: 50px !important;
  margin-bottom: 30px !important;
}

h5 {
  font-size: 20px !important;
  font-weight: 800 !important;

  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

h6 {
  font-size: 20px !important;
  font-weight: 300 !important;
}

ul {
  list-style: none;
  margin-bottom: 25px;
}

ol {
  list-style: none;
  margin-bottom: 25px;
}

ul li::before {
  content: '•';
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
}

ol li::before {
  content: counter(li);
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

p {
  text-align: left;
  word-break: break-word;
  color: #222;
  font-size: 16px;
  font-weight: 400 !important;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.6;
  letter-spacing: -0.02em;
  margin-block-end: 0em;

  margin-bottom: 15px !important;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

blockquote {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 3vw !important;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

pre {
  display: block;
  overflow: auto;
  white-space: pre-wrap !important;
  border: 1px solid #999;
  color: #222 !important;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 90%;
  padding: 0.2rem 0.5rem;

  margin-top: 25px !important;
  margin-bottom: 30px !important;
  margin-left: -0.1rem !important;
}

code {
  word-break: break-word;
  white-space: break-spaces;
  color: #222 !important;
  padding: 0.2rem 0.3rem;
  margin: 0rem 0.05rem;
  font-weight: 100;
  font-size: 90%;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre code {
  padding: 0.2rem 0rem;
  margin: 0rem 0rem;
  border: none;
}

.animated-1 {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animated-05 {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}

.animation-delay-350 {
  animation-delay: 350ms;
}

.animation-delay-450 {
  animation-delay: 450ms;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  animation-timing-function: ease;
  -webkit-animation-name: fadeInUp;
}

.fadeInUpFar {
  opacity: 0;
  animation-name: fadeInUpFar;
  animation-timing-function: ease;
  -webkit-animation-name: fadeInUpFar;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUpFar {
  from {
    transform: translate3d(0, 100px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUpFar {
  from {
    transform: translate3d(0, 100px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
