.title {
  font-size: 60px;
  font-weight: 800;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

.h3title {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

.h4title {
  font-size: 30px;
  font-weight: 800;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.h5title {
  font-size: 30px;
  font-weight: 800;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.h6title {
  font-size: 30px;
  font-weight: 800;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.headerContentText {
  color: #222;
  font-weight: 500;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  letter-spacing: -0.04em;
  margin-block-end: 0.0em;
  margin: 15px 5px;
  font-size: 18px;
}

.contentText {
  text-align: left;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  letter-spacing: -0.04em;
  margin-block-end: 0.0em;
}

.codeText {
  float:left;
  padding-right: 20px;
  text-align: left;
  color: #888;
  font-weight: 800;
  font-size: 12px;
  margin: 0px 0px 5px 0px;
  font-family: 'IBM Plex Mono';
}

.footerContent {
  font-weight: 300;
  font-family: "Inter";
  font-size: 13px;
  margin-bottom: 25px;
}

.footerContent:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  border: none;
  -webkit-appearance: none;
  padding: 0.75rem 3rem;
  color: #fff;
  background-color: #222;
  -webkit-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}


.button:hover {
  background-color: #444;
  -webkit-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}

.button:active {
  background-color: #999;
  -webkit-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}

.buttonText {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
}