.centered {
  text-align: center !important;
}

.headerContentText {
  text-align: center;
  color: #222;
  line-height: 1.6;
  letter-spacing: -0.04em;
  margin-block-end: 0em;
  margin: 15px 5px;
  font-size: 18px;
  font-weight: 400;
}

.tagText {
  float: left;
  padding: 0.4em 1em;
  margin: 0px 1.2em 1em 0px;
  /* background-color: #BBB; */
  border-radius: 0.5em;
  border: 1px solid #888;
  color: #888;
  font-weight: 600;
  font-size: 11px;
}

.footerContent {
  text-align: center;
  font-weight: 300;
  font-family: 'Inter';
  font-size: 13px;
  margin-bottom: 25px;
}

.footerContent:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  border: none;
  -webkit-appearance: none;
  padding: 0.75rem 3rem;
  color: #fff;
  background-color: #222;
  -webkit-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  background-color: #444;
  -webkit-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}

.button:active {
  background-color: #999;
  -webkit-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}

.likeButton {
  fill: #999;
  -webkit-transition: fill 100ms ease-in-out;
  -ms-transition: fill 100ms ease-in-out;
  transition: fill 100ms ease-in-out;
  height: 40px;
  width: 40px;
}

.likeButton:hover {
  fill: #666;
  -webkit-transition: fill 100ms ease-in-out;
  -ms-transition: fill 100ms ease-in-out;
  transition: fill 100ms ease-in-out;
  cursor: pointer;
}

.likeButton:active {
  fill: #222;
  -webkit-transition: fill 100ms ease-in-out;
  -ms-transition: fill 100ms ease-in-out;
  transition: fill 100ms ease-in-out;
  cursor: pointer;
}

.likeText {
  color: #999;
  margin-top: 8px;
  /* margin-right: 3px; */
  width: 10px;
  text-align: center;
  cursor: default;
  font-size: 14px;
}
